In [16]:
import pandas as pd

df_expactancy = pd.read_csv('life_expactancy_data.csv')
df_expactancy.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [17]:
df_expactancy.info()
df_expactancy.keys()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

### We do a little thing

https://www.kaggle.com/kumarajarshi/life-expectancy-who

Life expectancy - target variable

We will try several ways to fill missing data: 
 - deleting them
 - use mean taken from developing / developed countries
 
for missing values in 'Life expectancy' and 'Population' we will drop data.

In [5]:
# missing values

for column in df_expactancy.keys():
    print(column, df_expactancy[column].isnull().sum())

Country 0
Year 0
Status 0
Life expectancy  10
Adult Mortality 10
infant deaths 0
Alcohol 194
percentage expenditure 0
Hepatitis B 553
Measles  0
 BMI  34
under-five deaths  0
Polio 19
Total expenditure 226
Diphtheria  19
 HIV/AIDS 0
GDP 448
Population 652
 thinness  1-19 years 34
 thinness 5-9 years 34
Income composition of resources 167
Schooling 163

In [13]:
# clean life expectancy of null variables.

df_expactancy = df_expactancy.dropna(subset = ['Life expectancy '])
df_expactancy['Life expectancy '].isnull().sum()

0

In [36]:
missing_gdp = df_expactancy[df_expactancy['GDP'].isnull()]['Country'].unique()
df_expactancy[df_expactancy['Country'] == "Bahamas"]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
160,Bahamas,2015,Developing,76.1,147.0,0,NaN,0.0,95.0,0,...,95.0,NaN,95.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
161,Bahamas,2014,Developing,75.4,16.0,0,9.45,0.0,96.0,0,...,96.0,7.74,96.0,0.1,NaN,NaN,2.5,2.5,0.789,12.6
162,Bahamas,2013,Developing,74.8,172.0,0,9.42,0.0,97.0,0,...,97.0,7.50,97.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
163,Bahamas,2012,Developing,74.9,167.0,0,9.50,0.0,96.0,0,...,99.0,7.43,98.0,0.2,NaN,NaN,2.5,2.5,0.789,12.6
164,Bahamas,2011,Developing,75.0,162.0,0,9.34,0.0,95.0,0,...,97.0,7.63,98.0,0.1,NaN,NaN,2.5,2.5,0.788,12.6
165,Bahamas,2010,Developing,75.0,161.0,0,9.19,0.0,98.0,0,...,97.0,7.44,99.0,0.2,NaN,NaN,2.5,2.5,0.788,12.6
166,Bahamas,2009,Developing,74.6,168.0,0,9.29,0.0,95.0,0,...,97.0,7.43,96.0,0.1,NaN,NaN,2.5,2.5,0.791,12.6
167,Bahamas,2008,Developing,74.5,167.0,0,10.15,0.0,9.0,0,...,93.0,7.30,93.0,0.1,NaN,NaN,2.5,2.5,0.791,12.6
168,Bahamas,2007,Developing,74.4,167.0,0,10.75,0.0,93.0,0,...,95.0,7.80,95.0,0.1,NaN,NaN,2.5,2.5,0.790,12.5
169,Bahamas,2006,Developing,74.2,171.0,0,11.07,0.0,96.0,0,...,94.0,6.93,95.0,0.1,NaN,NaN,2.5,2.5,0.788,12.4
170,Bahamas,2005,Developing,74.1,172.0,0,10.49,0.0,93.0,0,...,93.0,5.95,93.0,0.1,NaN,NaN,2.6,2.5,0.786,12.4
171,Bahamas,2004,Developing,73.8,174.0,0,10.10,0.0,93.0,0,...,92.0,6.20,93.0,0.1,NaN,NaN,2.6,2.5,0.784,12.3
172,Bahamas,2003,Developing,73.2,189.0,0,10.68,0.0,88.0,0,...,93.0,5.62,92.0,0.1,NaN,NaN,2.6,2.5,0.783,12.2
173,Bahamas,2002,Developing,73.1,19.0,0,10.85,0.0,89.0,0,...,93.0,5.26,94.0,0.1,NaN,NaN,2.6,2.6,0.781,12.1
174,Bahamas,2001,Developing,72.9,189.0,0,11.64,0.0,21.0,0,...,98.0,5.15,99.0,0.2,NaN,NaN,2.7,2.6,0.779,12.1
175,Bahamas,2000,Developing,72.6,192.0,0,12.15,0.0,NaN,0,...,91.0,5.21,99.0,0.1,NaN,NaN,2.7,2.6,0.000,12.0

In [31]:
df_expactancy[df_expactancy['Country'] == 'Syrian Arab Republic'].head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2537,Syrian Arab Republic,2015,Developing,64.5,293.0,6,NaN,0.0,41.0,45,...,5.0,NaN,41.0,0.1,NaN,18734987.0,6.3,6.1,0.553,9.0
2538,Syrian Arab Republic,2014,Developing,64.4,294.0,7,0.01,0.0,47.0,594,...,52.0,3.25,43.0,0.1,NaN,19239.0,6.3,6.1,0.575,9.0
2539,Syrian Arab Republic,2013,Developing,63.6,37.0,7,0.01,0.0,71.0,740,...,5.0,3.25,41.0,0.1,NaN,1989141.0,6.3,6.1,0.635,13.0
2540,Syrian Arab Republic,2012,Developing,62.8,32.0,7,0.01,0.0,43.0,13,...,47.0,3.25,45.0,0.1,NaN,24271.0,6.3,6.1,0.645,12.5
2541,Syrian Arab Republic,2011,Developing,71.7,163.0,7,0.76,0.0,66.0,13,...,6.0,3.23,72.0,0.1,NaN,2863993.0,6.3,6.1,0.646,12.0

In [37]:
corr_matrix = df_expactancy.corr()
corr_matrix['GDP'].sort_values(ascending=False)

GDP                                1.000000
percentage expenditure             0.899373
Life expectancy                    0.461455
Income composition of resources    0.460341
Schooling                          0.448273
Alcohol                            0.354712
 BMI                               0.301557
Polio                              0.211976
Diphtheria                         0.200666
Total expenditure                  0.138364
Year                               0.101620
Hepatitis B                        0.083903
Population                        -0.028270
Measles                           -0.076466
infant deaths                     -0.108427
under-five deaths                 -0.112081
 HIV/AIDS                         -0.136491
 thinness  1-19 years             -0.285697
 thinness 5-9 years               -0.290539
Adult Mortality                   -0.296049
Name: GDP, dtype: float64

In [ ]:
df_expactancy['Life expectancy '].isnull()